<!DOCTYPE html>
<html lang="en">
<head>
  <title>Adhocnw</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Adhoc-Nw</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'search_student' %}">Search Students</a></li>
      <li><a href="#">About</a></li>
      <li class="float-right"><a href="{% url 'logout' %}">Logout</a></li>
    
    </ul>
  </div>
</nav>
  
<div class="container">
    <h1>Account Settings</h1>
      <hr>
      <div class="col-md-12 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
      </div>
      <h3>Account Settings</h3>
            <form method="POST" action="/updated_profile/">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-md-2 control-label">first-Name:</label>
                    <div class="col-md-10">
                    
                      <input class="form-control" name="fname" placeholder="first_Name:" type="text">
                    
                    </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label">last-Name:</label>
                  <div class="col-md-10">
                  
                    <input class="form-control" name="lname" placeholder="last_Name:" type="text">
                  
                  </div>
              </div>
                
                <div class="form-group">
                    <label class="col-md-2 control-label">Contact no.:</label>
                    <div class="col-md-10">
                    
                      <input class="form-control" name="contact_number" placeholder="1234567890" type="number">
                    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Email id:</label>
                    <div class="col-md-10">
                    
                      <input class="form-control" name="email" placeholder="adhoc@gmail.com:" type="email">
                    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">College:</label>
                    <div class="col-md-10">
                    
                      <input class="form-control" name="college" placeholder="college" type="text">
                    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Branch:</label>
                    <div class="col-md-10">
                    
                      <input class="form-control" name="branch" placeholder="Btech / cs:" type="text">
                    
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-2 control-label">Cource:</label>
                    <div class="col-md-10">
                    
                      <input class="form-control" name="Cource" placeholder="Cource:" type="text">
                    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Cource fee:</label>
                    <div class="col-md-10">
                    
                      <input class="form-control" name="Cource_fee" placeholder="15,500" type="number">
                    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Father's Name:</label>
                    <div class="col-md-10">
                    
                      <input class="form-control" name="father_name" placeholder="Father's name:" type="text">
                    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Father's contact no:</label>
                    <div class="col-md-10">
                    
                      <input class="form-control" name="father_contact_no" placeholder="1234567890" type="number">
                    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Admission type:</label>
                    <div class="col-md-10">
                    
                      <input class="form-control" name="Addmission_type" placeholder="Admission type::" type="text">
                    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">training type::</label>
                    <div class="col-md-10">
                    
                      <input class="form-control" name="training_type" placeholder="training type:" type="text">
                    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Fee-paid:</label>
                    <div class="col-md-10">
                    
                      <input class="form-control" name="Fee_paid" placeholder="fee paid:" type="number">
                    
                    </div>
                </div>  
                <div class="form-group">
                    <label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <input class="btn btn-primary" value="Save Changes" type="submit">
                      <span></span>
                      <input class="btn btn-default" value="Cancel" type="reset">
                    </div>
                  </div>
            </form>  
</div>
<hr>



</body>
</html>
